.container {
    width: $primary-width;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 20px;
}

.container-img {
    width: 96px;
    display: flex;
    flex-direction: column;
}

.container-content {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1,
    h2 {
    font-size: 20px;
    line-height: 1.2;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 48px 0;
}

.mt-24 {
    margin-top: 24px;
}